<html>
  <body>
    {% if "character" in session %}
      <div>
        <span><a href="{{ url_for("index")}}">Index</a></span>
        <span><a href="{{ url_for("standings")}}">Character Standings</a></span>
        <span><a href="{{ url_for("logout") }}">Logout</a> </span>
      </div>
      <table>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Standing</th>
          </tr>
          {% for r in standings %}
            <tr>
              <td> {{ r.from_id }} </td>
              <td> {{ r.from_type }} </td>
              <td> {{ r.standing }} </td>
            </tr>
          {% endfor %}
      </table>
    {% else %}
        <a href="{{ url_for("login") }}">Login</a>
    {% endif %}
  </body>
</html>
